@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.active {
  color: red;
  font-weight: bold;
}
body {
  width: 100%;
  padding: 3px;
}
Header {
  position: relative;
  width: 1230px;
  height: 90px;
  margin: 0 auto;
}
Header h1 {
  width: 100%;
  height: 60px;
  line-height: 60px;
}

Header nav {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

Header nav ul li {
  display: inline-block;
  list-style: none;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

Header nav ul li a {
  text-decoration: none;
  margin: 0 5px;
}

.content-container {
  width: 1230px;
  height: calc(100vh - 146px);
  margin: 0 auto;
}

Footer {
  width: 1230px;
  height: 50px;
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  border-top: 1px solid black;
}